<style>
  fieldset {
    width: 450px;
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
  }

  fieldset>legend {
    font-size: 18px;
    font-weight: bold;
  }

  div>a {
    font-size: 14px;
  }

  TD>a {
    font-size: 16px;
    text-align: center;
    height: 20px;
    width: 135px;
  }

  .clsSetProperties {
    vertical-align: middle;
  }

  .clsPassportDetails {
    width: 300px;
    height: 35px;
    font-size: 11px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    font-weight: bold;
  }

  .clsPassportInfoItems {
    width: 100px;
    border: 1px solid green;
    background-color: lightgrey;
    padding: 0px 5px;
  }

  .clsColumnHeader {
    font-size: 14px;
  }

  .clsMrzDetailsBtn {
    width: 100px;
    height: 20px;
  }

  .label {
    font-size: 13px;
    padding: 5px 5px 5px 5px;
    width: 100px;
    font-weight: bold;
  }

  td>input {
    width: 300px;
  }

  .clsReaderName {
    width: 250px;
    color: darkgrey;
  }

  a:link,
  a:visited {
    background-color: grey;
    color: white;
    padding: 10px 10px 10px 10px;
    margin: 2px 2px 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a:hover,
  a:active {
    background-color: lightgrey;
  }

  img {
    border: 0px solid #ddd;
    border-radius: 0px;
    padding: 0px;
  }
</style>

<div *ngIf="isLoading" class="spinner-border loading" role="status">
  <span class="sr-only">Loading...</span>
</div>

<div class="container-fluid" *ngIf="!isLoading && !noPatient && patient.prn !== ''">
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="mformx" (ngSubmit)="onConvertSubmit()">
        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title">Biodata - MyKad</h5>
            <div class="text-danger font-weight-bold">Select record(s) of address to update into VESALIUS</div>
            <div class="mt-4">
              <div class="row">
                <div class="col-sm-2">Name:</div>
                <div class="col-sm-9">{{ patient.name }}</div>
                <div class="col-sm-1">
                  <input type="checkbox" class="form-check-input" formControlName="name">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">NRIC:</div>
                <div class="col-sm-10">{{ patient.idnum }}</div>
              </div>
              <div class="row">
                <div class="col-sm-2">DOB:</div>
                <div class="col-sm-9">{{ patient.dob }}</div>
                <div class="col-sm-1">
                  <input type="checkbox" class="form-check-input" formControlName="dob">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">Gender:</div>
                <div class="col-sm-10">{{ patient.gender }}</div>
              </div>
              <div class="row">
                <div class="col-sm-2">Address 1:</div>
                <div class="col-sm-9">{{ patient.addr1 }}</div>
                <div class="col-sm-1">
                  <input type="checkbox" class="form-check-input" formControlName="addr1">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">Address 2:</div>
                <div class="col-sm-9">{{ patient.addr2 }}</div>
                <div class="col-sm-1">
                  <input type="checkbox" class="form-check-input" formControlName="addr2">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">Address 3:</div>
                <div class="col-sm-9">{{ patient.addr3 }}</div>
                <div class="col-sm-1">
                  <input type="checkbox" class="form-check-input" formControlName="addr3">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">Postal Code:</div>
                <div class="col-sm-9">{{ patient.postcode }}</div>
                <div class="col-sm-1">
                  <input type="checkbox" class="form-check-input" formControlName="postcode">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">City/State:</div>
                <div class="col-sm-9">{{ patient.state }}</div>
                <div class="col-sm-1">
                  <input type="checkbox" class="form-check-input" formControlName="state">
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">Biodata - VESALIUS</h5>
          <div class="row">
            <div class="col-sm-2">PRN:</div>
            <div class="col-sm-10">{{ vpatient.prn }}</div>
          </div>
          <div class="row">
            <div class="col-sm-2">Name:</div>
            <div class="col-sm-10">{{ vpatient.name }}</div>
          </div>
          <div class="row">
            <div class="col-sm-2">NRIC:</div>
            <div class="col-sm-10">{{ vpatient.idnum }}</div>
          </div>
          <div class="row">
            <div class="col-sm-2">DOB:</div>
            <div class="col-sm-10">{{ vpatient.dob }}</div>
          </div>
          <div class="row">
            <div class="col-sm-2">Gender:</div>
            <div class="col-sm-10">{{ vpatient.gender }}</div>
          </div>
          <div class="row">
            <div class="col-sm-2">Address 1:</div>
            <div class="col-sm-10">{{ vpatient.addr1 }}</div>
          </div>
          <div class="row">
            <div class="col-sm-2">Address 2:</div>
            <div class="col-sm-10">{{ vpatient.addr2 }}</div>
          </div>
          <div class="row">
            <div class="col-sm-2">Address 3:</div>
            <div class="col-sm-10">{{ vpatient.addr3 }}</div>
          </div>
          <div class="row">
            <div class="col-sm-2">Postal Code:</div>
            <div class="col-sm-10">{{ vpatient.postcode }}</div>
          </div>
          <div class="row">
            <div class="col-sm-2">City/State:</div>
            <div class="col-sm-10">{{ vpatient.state }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-right mt-2">
    <button type="button" class="btn btn-primary" (click)="onClose()">Close</button>
    <button type="button" class="btn btn-primary ml-2" (click)="onProceed()">Proceed</button>
  </div>
</div>

<div class="container-fluid" *ngIf="!isLoading && noPatient">
  <form [formGroup]="mform" (ngSubmit)="onSubmit()">
    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">Biodata - MyKad</h5>
        <div class="text-danger font-weight-bold">Asterisks (*) as mandatory field(s)</div>
        <div class="mt-4">
          <div class="row">
            <div class="col-sm-2">Name:</div>
            <div class="col-sm-10">{{ patient.name }}</div>
          </div>
          <div class="row">
            <div class="col-sm-2">NRIC:</div>
            <div class="col-sm-10">{{ patient.idnum }}</div>
          </div>
          <div class="row">
            <div class="col-sm-2">DOB:</div>
            <div class="col-sm-10">{{ patient.dob }}</div>
          </div>
          <div class="row">
            <div class="col-sm-2">Gender:</div>
            <div class="col-sm-10">{{ patient.gender }}</div>
          </div>
          <div class="row">
            <div class="col-sm-2">Address 1:</div>
            <div class="col-sm-10">{{ patient.addr1 }}</div>
          </div>
          <div class="row">
            <div class="col-sm-2">Address 2:</div>
            <div class="col-sm-10">{{ patient.addr2 }}</div>
          </div>
          <div class="row">
            <div class="col-sm-2">Address 3:</div>
            <div class="col-sm-10">{{ patient.addr3 }}</div>
          </div>
          <div class="row">
            <div class="col-sm-2">Postal Code:</div>
            <div class="col-sm-10">{{ patient.postcode }}</div>
          </div>
          <div class="row">
            <div class="col-sm-2">City/State:</div>
            <div class="col-sm-10">{{ patient.state }}</div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Contact No.*:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="contact" formControlName="contact"
                [ngClass]="{'is-invalid': invalid('contact')}">
              <small class="badge badge-danger" 
                *ngIf="invalid('contact') && f.contact.hasError('required')">
                Contact No. is required
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-right mt-2">
      <button type="button" class="btn btn-primary" (click)="onClose()">Close</button>
      <button type="submit" class="btn btn-primary ml-2">Create Patient</button>
    </div>
  </form>

  <!-- <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title">Biodata - MyKad</h5>
      <div class="text-danger font-weight-bold">Asterisks (*) as mandatory field(s)</div>
      <div class="mt-4">
        <div class="row">
          <div class="col-sm-2">Name:</div>
          <div class="col-sm-10">{{ patient.name }}</div>
        </div>
        <div class="row">
          <div class="col-sm-2">NRIC:</div>
          <div class="col-sm-10">{{ patient.idnum }}</div>
        </div>
        <div class="row">
          <div class="col-sm-2">DOB:</div>
          <div class="col-sm-10">{{ patient.dob }}</div>
        </div>
        <div class="row">
          <div class="col-sm-2">Gender:</div>
          <div class="col-sm-10">{{ patient.gender }}</div>
        </div>
        <div class="row">
          <div class="col-sm-2">Address 1:</div>
          <div class="col-sm-10">{{ patient.addr1 }}</div>
        </div>
        <div class="row">
          <div class="col-sm-2">Address 2:</div>
          <div class="col-sm-10">{{ patient.addr2 }}</div>
        </div>
        <div class="row">
          <div class="col-sm-2">Address 3:</div>
          <div class="col-sm-10">{{ patient.addr3 }}</div>
        </div>
        <div class="row">
          <div class="col-sm-2">Postal Code:</div>
          <div class="col-sm-10">{{ patient.postcode }}</div>
        </div>
        <div class="row">
          <div class="col-sm-2">City/State:</div>
          <div class="col-sm-10">{{ patient.state }}</div>
        </div>
        <div class="row">
          <div class="col-sm-2">Contact No.*:</div>
          <div class="col-sm-10">
            <input type="text" name="contact" class="form-control">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-sm-10 offset-sm-2">
      <button type="button" class="btn btn-primary" (click)="onClose()">Close</button>
      <button type="button" class="btn btn-primary ml-2">Create Patient</button>
    </div>
  </div> -->
</div>

<ng-template #modalSuccess>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Vesalius MyKad Reader</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Patient Biodata has been created successfully in VESALIUS.</p>
    <strong>PRN: {{ patient.prn }}</strong>

    <div class="text-right">
      <button type="button" class="btn btn-primary btn-ok mt-2" (click)="onModalOk()">OK</button>
    </div>
  </div>
</ng-template>

<ng-template #modalAlert>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Vesalius MyKad Reader</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="float-left">
      <i class="fas fa-exclamation-triangle alert-icon"></i>
    </div>
    <p>{{ alertMsg }}</p>

    <div class="text-right">
      <button type="button" class="btn btn-primary btn-ok mt-2" (click)="bsModalRef.hide()">OK</button>
    </div>
  </div>
</ng-template>


<div style="font-size:xx-large" hidden>
  <div>
    <span style="font-size: 14px; color:grey"><b>Message Reply from WebSocket Service</b></span>
    <div id="rs_container_GENERAL"
      style="overflow-y:auto; color:darkblue; padding:5px 5px 5px 5px; font-size:14px; width:1000px; height:120px; border:1px solid black;">
      <div class="response_msg" *ngFor="let m of lsres">{{ m }}</div>
    </div>
  </div>
  <br>

  <table border="1">
    <tr>
      <td valign="top" width="500px">
        <div>
          <div *ngIf="isLoading">
            <img id="openreader_gif" src="assets/img/openreader_loading.gif" width="15px" height="15px" />
          </div>
          <table>
            <table>
              <tr>
                <td>Get reader name from config file. (IRIS Reader Only!)</td>
              </tr>
            </table>

            <table>
              <tr>
                <td>
                  Reader Name : <input type="text" name="ReaderNameInput" id="ReaderNameInput"
                    [value]="ReaderName" [(ngModel)]="ReaderName" style="margin-top:5px"><br>
                </td>
              </tr>
            </table>

            <table>
              <tr>
                <td><a href="#" (click)="readMyKad()">1. Read MyKad</a></td>
                <td><a href="#" onclick="verifyFingerprint()">2. Verify Fingerprint</a></td>
              </tr>
            </table>
          </table>
        </div>

      </td>
      <td valign="top" width="500px">
        <table>
          <tr>
            <td>
              <b>*Photo*</b>
              <div id="container_Photo" style="width:100px; height:100px; border:1px solid darkblue;">
                <ng-container *ngIf="hasPhoto">
                  <img [src]="photo" height="100" width="100">
                </ng-container>
              </div>
              <br>
            </td>
            <td>
              <div id="cnt_MYKAD_INFO"
                style="overflow-y:auto; color:darkblue; padding:5px 5px 5px 5px; font-size:14px; width:370px; height:300px; border:1px solid black;">
                <div class="response_msg2" *ngFor="let o of lsinfo">{{ o }}</div>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>

<router-outlet></router-outlet>